    <input
      formControlName="name"
      type="text"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="Enter Name"
      minlength="3"
    />
    <p
      class="text-red-400"
      *ngIf="registerForm.controls.name.touched && registerForm.controls.name.dirty && registerForm.controls.name.errors?.['required']"
    >
      Field is required.
    </p>
    <p
      class="text-red-400"

      *ngIf="registerForm.controls.name.touched && registerForm.controls.name.dirty && registerForm.controls.name.errors?.['minlength']"
    >
      Only
      {{ registerForm.controls.name.errors?.['minlength'].actualLength }}
      letters inputted. Name must be at least
      {{ registerForm.controls.name.errors?.['minlength'].requiredLength }}
      letters long.
    </p>
