    <input
      [name]="control"
      type="text"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="Enter Name"
    />
    <ng-container>
            <p
      class="text-red-400"
      *ngIf="control.touched && control.dirty && control.errors?.['required']"
    >
      Field is required.
    </p>
    <p
      class="text-red-400"

      *ngIf="control.touched && control.dirty && control.errors?.['minlength']"
    >
      Only
      {{ control.errors?.['minlength'].actualLength }}
      letters inputted. Name must be at least
      {{ control.errors?.['minlength'].requiredLength }}
      letters long.
    </p>
    </ng-container>

